.create-container {
  background-image: url('../../assets/svg/create-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.list-container {
  background-image: url('../../assets/svg/list-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.no-task {
  background-image: url('../../assets/svg/add-tasks.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
