<main class="container-fluid create-container" style="height: 100vh;">
  <div *ngIf="msgPostTask"
    [ngClass]="{'alert-success': msgPostTask.status === 'correct'}"
    [ngClass]="{'alert-danger': msgPostTask.status === 'error'}"
    class="alert alert-success w-50 mt-5 mx-auto d-flex text-secondary"
    style="margin-bottom: -8.1rem;"
    role="alert">
  <span>{{msgPostTask.message}}</span>
  </div>

  <a class="row text-decoration-none fs-5" href="#" (click)="location.back()">
    <div class="p-3">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
      </svg>
      <span>
        Volver
      </span>
    </div>
  </a>

  <div style="margin-top: 13rem;">
    <section class="row bg-white border-0 shadow rounded-3 border-primary m-auto" style="width: 50vw; min-width: 20rem;">
      <div class="d-flex container-fluid justify-content-between card-header bg-primary p-3">
        <h3 class="col-10 col-lg-8 card-title text-white mb-auto mt-auto fw-bold">Nueva Tarea</h3>
        <div class="col-2 col-lg-4 d-flex justify-content-end">
          <button class="btn btn-outline-light ms-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg fw-bold" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
            <span class="ms-1 d-none d-md-inline" (click)="createTask(newProjectForm)">Crear tarea</span>
          </button>
        </div>
      </div>
      <div class="card-body p-5">
        <form (ngSubmit)="createTask(newProjectForm)" #newProjectForm="ngForm">
          <article class="row">

            <!-- Nombre Tarea -->
            <div class="container-fluid col-12 col-md-6 mb-3 mb-lg-0">
              <input
              class="form-control bg-dark p-2"
              style="--bs-bg-opacity: .1;"
              [ngClass]="{'is-invalid':nombreT.invalid && submitted}"
              placeholder="Nombre de la tarea"
              type="text"
              name="nombreT"
              required
              minlength="5"
              ngModel #nombreT="ngModel"
              >

              <!-- Validaciones del nombre tarea -->
              <div class="text-danger fs-7" *ngIf="nombreT.invalid && submitted">
                <div *ngIf="nombreT.errors?.['required']">
                  Debe introducir el nombre para la tarea
                </div>
                <div *ngIf="nombreT.errors?.['minlength']">
                  El nombre debe tener al menos 5 caracteres
                </div>
              </div>
            </div>

            <!-- Fecha entrega -->
            <div class="col-md col-12">
              <input
                [ngClass]="{'text-white-50':!fechaEntrega.value}"
                [ngClass]="{'is-invalid':fechaEntrega.invalid && submitted}"
                class="form-control bg-dark text-dark p-2"
                style="--bs-bg-opacity: .1;"
                type="text"
                name="fechaEntrega"
                required="true"
                placeholder="Fecha entrega"
                onfocus="this.type = 'date'"
                onblur="if(!fechaEntrega.value) this.type = 'text'"
                ngModel #fechaEntrega="ngModel"
              >

              <!-- Validaciones fecha entrega -->
              <div class="text-danger fs-7" *ngIf="fechaEntrega.invalid && submitted">
                <div *ngIf="fechaEntrega.errors?.['required']">
                  Debe introducir la fecha prevista para la entrega
                </div>
                <!-- <div *ngIf="fechaEntrega.value?.['minlength']">
                  El nombre del cliente debe tener al menos 5 caracteres
                </div> -->
              </div>
            </div>
          </article>
          <article class="row mt-3">

            <!-- Programadores -->
            <div class="container-fluid col-12 mb-3 mb-lg-0">
              <select
              class="form-select form-control bg-dark p-2"
              style="--bs-bg-opacity: .1;"
              [multiple]="false"
              name="programmers"
              ngModel #programmers="ngModel"
              onfocus="[multiple]='true'"
              onblur="[multiple]='false'"
              >
                <option hidden value="" selected>Programadores</option>
                <option *ngFor="let prog of progs" value="{{prog._id}}">{{prog.nombre}}</option>
              </select>
            </div>

          </article>
        </form>
      </div>
    </section>
  </div>
</main>
